<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=7">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/pages/login/index.css">
    <title>Eğitim Ağacı | Giriş Yap</title>
</head>

<body>
    <div class="formContent">
        <form action="/auth/login" method="post">
            <h1>Giriş Yap</h1>
            <input type="text" name="name" id="name" placeholder="isim" required>
            <input type="password" name="password" id="password" placeholder="Şifre" required>
            <input type="email" name="mail" id="mail" placeholder="E-mail" required>
            <label for="gender">Cinsiyet:</label>
            <select id="gender" name="gender">
                <option value="Kadın">Kadın</option>
                <option value="Erkek">Erkek</option>
            </select>
            <label for="educationType">Kayıt Tipi:</label>
            <select id="educationType" name="educationType">
                <option value="student">Öğrenci</option>
                <option value="instructor">Eğitmen</option>
            </select>
            <input type="submit" value="Giriş Yap" style="border: 1px solid var(--onMain-color)">
        </form>
        <a href="/auth/signin"><button>Kayıt Ol</button></a>
    </div>
</body>

<script>
    window.addEventListener('load', () => {
        if(window.location.href.includes('?404')) {
            alert('Giriş Bilgileri Doğrulanamadı')
        }
    })
</script>
</html>