<div class="head-menu">
    <div class="left">
        <div class="company">
            <h2>Eğitim Ağacı</h2>
        </div>
    </div>
    <div class="right">
        <div class="options">
            <a href="/auth/login">
                <div class="option" type="login">
                    <p>Oturum Aç</p>
                </div>
            </a>
            <a href="/auth/login">
                <div class="option" type="signup">
                    <p>Kayıt Ol</p>
                </div>
            </a>
        </div>
    </div>
</div>