:root {
    --head-menu-background: white;
    --header-background: rgb(241, 241, 241);
    --main-color: rgb(247, 247, 247);
    --onMain-color: #64d989;
    --black: #353535;
    --white: rgb(247, 247, 247);
    --shadow-color: rgb(196, 196, 196);
}